<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>
            {% block title %}AJ-System
            {% endblock %}
        </title>
        {% block stylesheets %}
            <!-- Bootstrap CSS CDN -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            <!-- Our Custom CSS -->
            <link rel="stylesheet" href="{{ asset ('js/bootstrap-datepicker/css/bootstrap-datepicker3.min.css')}}">
            <link rel="stylesheet" href="{{ asset ('css/adm.css')}}">

            <!-- Font Awesome JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/js/all.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/webfonts/fa-brands-400.eot"></script>
        {% endblock %}
    </head>

    <body style="background-color: #f7f7f7;">
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white border-right" id="sidebar-wrapper">
            <div class="sidebar-heading bg-adm">
                <span class="navbar-brand" href="#">
                    <img class="img-fluid" style="height: 37.4px"  src="{{ asset('imagens/logo.png') }}">
                </span>
            </div>
            <div class="list-group list-group-flush">
                <a href="{{ path('home') }}" class="list-group-item list-group-item-action bg-light">Home</a>
                <a href="{{ path('caixa_index') }}" class="list-group-item list-group-item-action bg-light"><i class="fas fa-cash-register"></i> Caixa</a>
                <a href="{{ path('funcionario_index') }}" class="list-group-item list-group-item-action bg-light"><i class="fas fa-users"></i> Funcionarios</a>
                <a href="{{ path('cliente_index') }}" class="list-group-item list-group-item-action bg-light"><i class="fas fa-user-tie"></i> Clientes</a>
                <a href="{{ path('servico_index') }}" class="list-group-item list-group-item-action bg-light"><i class="fas fa-wrench"></i> Serviços</a>
                <a href="{{ path('conta_pagar_index') }}" class="list-group-item list-group-item-action bg-light"><i class="fas fa-dollar-sign"></i> Contas a pagar</a>
                <a href="{{ path('receber_index') }}" class="list-group-item list-group-item-action bg-light"><i class="fas fa-hand-holding-usd"></i> Contas a receber</a>
                <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-user"></i> Administradores</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light  border-bottom bg-adm" style="padding: 17.5px 12px;">
                <button class="btn btn-primary" id="menu-toggle">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="text-white ml-auto" href="{{ path('logout') }}">
                    <p>Sair</p>
                </a>
            </nav>

            <div class="container-fluid">
                {% block body %}{% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    {% block javascripts %}
        <!--------- Java Scripts ---------->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{{ asset ('js/jquery.mask.min.js')}}"></script>
        <script src="{{ asset ('js/jquery.maskMoney.min.js')}}"></script>
        <script src="{{ asset ('js/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
        <script src="{{ asset ('js/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js')}}"></script>
        <script src="{{ asset ('js/adm.js')}}"></script>
        <script src="{{ asset ('js/main.js')}}"></script>
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

        </script>
    {% endblock %}

    </body>

</html>