<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Title!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <!--------- Bootstrap/CSS -------->
        <link rel="stylesheet" href="{{ asset ('css/bootstrap-4.3.1.min.css')}}">
        {#<link rel="stylesheet" href="{{ asset ('css/main.css')}}">#}
        <!--------- Iconis -------->
        {# <link rel="stylesheet" href="{{  asset ('vendor/bootstrap-dist/fontawesome/css/all.css')}}"> #}
        <!---------- Slick slid ------------->
        <script src="{{ asset ('jquery/jquery.min.js')}}"></script>
    {% endblock %}
</head>
<body class="bg-light">
{% block body %}

{% endblock %}

<footer>
    <!-- JavaScripts-->
    {% block javascripts %}
        <script src="{{ asset ('jquery/jquery-3.4.1.min.js')}}"></script>
       <script src="{{ asset ('jquery/popper.min.js')}}"></script>
        <script src="{{ asset ('js/bootstrap.min.js')}}"></script>
        {# <script src="{{ asset ('js/main.js')}}"></script>#}
    {%  endblock %}
</footer>

</body>
</html>