{% extends 'base_adm.html.twig' %}

{% block title %}Contas a Receber
{% endblock %}

{% block body %}
    <div style=" margin-bottom: 50px">
    </div>
    <div class="card">
        <div class="card-header ch-alt" style="border-bottom: none; background-color: #fff">
            <h2>
                Contas a Receber
            </h2>
        </div>
        <div class="card-body card-padding">
            {{ form_start(formFilter, { attr: { novalidate: 'novalidate', class: form_css|default('') } }) }}
            <div class="well">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group  fg-line {% if formFilter.dataDe.vars.errors|length %} has-error {% endif %}">
                            {{ form_label (formFilter.dataDe) }}
                            {{ form_widget(formFilter.dataDe) }}
                            {{ form_errors(formFilter.dataDe) }}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group  fg-line {% if formFilter.dataAt.vars.errors|length %} has-error {% endif %}">
                            {{ form_label (formFilter.dataAt) }}
                            {{ form_widget(formFilter.dataAt) }}
                            {{ form_errors(formFilter.dataAt) }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group  fg-line {% if formFilter.cliente.vars.errors|length %} has-error {% endif %}">
                            {{ form_label (formFilter.cliente) }}
                            {{ form_widget(formFilter.cliente) }}
                            {{ form_errors(formFilter.cliente) }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group  fg-line {% if formFilter.responsavel.vars.errors|length %} has-error {% endif %}">
                            {{ form_label (formFilter.responsavel) }}
                            {{ form_widget(formFilter.responsavel) }}
                            {{ form_errors(formFilter.responsavel) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group  fg-line {% if formFilter.nome.vars.errors|length %} has-error {% endif %}">
                            {{ form_label (formFilter.nome) }}
                            {{ form_widget(formFilter.nome) }}
                            {{ form_errors(formFilter.nome) }}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group  fg-line {% if formFilter.solicitante.vars.errors|length %} has-error {% endif %}">
                            {{ form_label (formFilter.solicitante) }}
                            {{ form_widget(formFilter.solicitante) }}
                            {{ form_errors(formFilter.solicitante) }}
                        </div>
                    </div>
                </div>
                {{ form_widget(formFilter._token) }}
                <div class="row">
                    <div class="form-group col-md-3 text-right ml-auto">
                        <button class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="top" title="Buscar">
                            <i class="fas fa-search"></i> Buscar</button>
                        <a href="{{ path('receber_index') }}" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Limpar">
                            <i class="fas fa-eraser"></i> Limpar</a>
                    </div>
                </div>
            </div>
            </form>

            {% include 'flashMessages.html.twig' %}
            <div class="row">
                <div class="col-md-12">
                    {%  if servicos is not empty %}
                        <table class="table table-hover">
                            <thead>
                            <tr style="background-color: #f2f7fd">
                                <th scope="col">Serviço</th>
                                <th>Valor</th>
                                <th>Solicitante</th>
                                <th>Cliente</th>
                                <th>Responsavel</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for s in servicos %}
                                <tr>
                                    <th scope="row">{{ s.nome }}</th>
                                    <th>{{ s.valor }}</th>
                                    <th>{{ s.solicitante }}</th>
                                    <td>{% if s.cliente %}
                                            {{ s.cliente.nome}}
                                        {% endif %}
                                    </td>
                                    <td>{{ s.responsavel.nome }}</td>
                                    <td>
                                        {% if s.status == 1 %}<span class="label label-success" data-original-title="" title="">Paga</span>
                                        {% elseif s.status == 2 %}
                                            <span class="label label-info" data-original-title="" title="">A receber</span>
                                        {% elseif s.status == 0 %}
                                            <span class="label label-danger" data-original-title="" title="">Cancelada</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('editar_servico', {'id': s.id})  }}"><span data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit text-primary"></i></span></a>
                                        <a href="{{ path('deletar_servico', {'id': s.id})  }}"><span data-toggle="tooltip" data-placement="top" title="Cancelar"><i class="fas fa-times-circle text-danger" data-toggle="tooltip" data-placement="top" title="Cancelar"></i></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Sem Serviços prestado no momento</p>
                    {% endif %}
                </div>
            </div>
            <div class="navigation text-center mt-3">
                {{ knp_pagination_render(servicos) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
