{{ form_start(form, { attr: { novalidate: 'novalidate', class: form_css|default('') } }) }}
<div class="row">
    <div class="col-sm-3">
        <div class="form-group fg-line {% if form.nome.vars.errors|length %} has-error {% endif %}">
            {{ form_label(form.nome) }}
            {{ form_widget(form.nome) }}
            {{ form_errors(form.nome) }}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group fg-line {% if form.descricao.vars.errors|length %} has-error {% endif %}">
            {{ form_label(form.descricao) }}
            {{ form_widget(form.descricao) }}
            {{ form_errors(form.descricao) }}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group fg-line {% if form.tipo.vars.errors|length %} has-error {% endif %}">
            {{ form_label(form.tipo) }}
            {{ form_widget(form.tipo) }}
            {{ form_errors(form.tipo) }}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group fg-line {% if form.status.vars.errors|length %} has-error {% endif %}">
            {{ form_label(form.status) }}
            {{ form_widget(form.status) }}
            {{ form_errors(form.status) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="form-group fg-line {% if form.valor.vars.errors|length %} has-error {% endif %}">
            <label for="E-mail">Valor</label>
            {{ form_widget(form.valor) }}
            {{ form_errors(form.valor) }}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group fg-line {% if form.funcionario.vars.errors|length %} has-error {% endif %}">
            {{ form_label(form.funcionario) }}
            {{ form_widget(form.funcionario) }}
            {{ form_errors(form.funcionario) }}
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group fg-line {% if form.dataPago.vars.errors|length %} has-error {% endif %}">
            {{ form_label(form.dataPago) }}
            {{ form_widget(form.dataPago) }}
            {{ form_errors(form.dataPago) }}
        </div>
    </div>
</div>
{{ form_widget(form._token) }}
<hr>
<div class="form-actions">
    <button type="submit" class="btn btn-info btn-fw waves-effect" onclick="this.form.submit(); this.disabled = true">
       Salvar
    </button>
</div>
</form>