{% extends 'base_adm.html.twig' %}

{% block title %}Funcionarios
{% endblock %}

{% block body %}
    <div style=" margin-bottom: 50px">
    </div>
    <div class="card">
        <div class="card-header ch-alt" style="border-bottom: none; background-color: #fff">
            <h2>
                Funcionarios
            </h2>
            <a class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Novo" style="float: right; margin-top: -25px" href="{{ path('novo_funcionario') }}"><i class="fas fa-plus-circle" ></i></a>
        </div>

        <div class="card-body card-padding">

            {{ form_start(formFilter, { attr: { novalidate: 'novalidate', class: form_css|default('') } }) }}
            <div class="well">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group  fg-line {% if formFilter.nome.vars.errors|length %} has-error {% endif %}">
                            {{ form_widget(formFilter.nome) }}
                            {{ form_errors(formFilter.nome) }}
                        </div>
                    </div>
                    {{ form_widget(formFilter._token) }}
                    <div class="form-group col-md-3 text-right ml-auto">
                        <button class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="top" title="Buscar">
                            <i class="fas fa-search"></i> Buscar</button>
                        <a href="{{ path('funcionario_index') }}" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Limpar">
                            <i class="fas fa-eraser"></i> Limpar</a>
                    </div>
                </div>
            </div>
            </form>

            {% include 'flashMessages.html.twig' %}
            <div class="row">
                <div class="col-md-12">
                    {%  if funcionarios is not empty %}
                        <table class="table table-hover">
                            <thead>
                            <tr style="background-color: #f2f7fd">
                                <th scope="col">Nome</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">telefone</th>
                                <th scope="col">Salario a receber</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for f in funcionarios %}
                                {% if f.active %}
                                    <tr>
                                        <th scope="row">{{ f.nome }}</th>
                                        <th> {{ f.email }}</th>
                                        <td>{{ f.telefone}}</td>
                                        <td>{{ f.salarioMensal }}</td>
                                        <td>
                                            <a href="{{ path('editar_funcionario', {'id': f.id})  }}"><span data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit text-primary"></i></span></a>

                                            <a href="{{ path('deletar_funcionario', {'id': f.id}) }}"><span data-toggle="tooltip" data-placement="top" title="Deletar"><i class="fas fa-times-circle text-danger" data-toggle="tooltip" data-placement="top" title="Deletar"></i></span></a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Sem funcionario no momento</p>
                    {% endif %}
                </div>
            </div>
            <div class="navigation text-center mt-3">
                {{ knp_pagination_render(funcionarios) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
